## How often does President Trump tweet each day?

In [2]:
import altair as alt
import pandas as pd
import matplotlib as mpl
import numpy as np
import json
import pytz
from datetime import datetime
import altair_latimes as lat
alt.renderers.enable('notebook')
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')

ThemeRegistry.enable('latimes')

### Dump from trumptweetarchive.com

In [3]:
trump2019 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2019.json')
trump2018 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2018.json')
trump2017 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2017.json')
trump2016 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2016.json')
trump2015 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2015.json')
trump2014 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2014.json')
trump2013 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2013.json')
trump2012 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2012.json')
trump2011 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2011.json')
trump2010 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2010.json')
trump2009 = pd.read_json('http://www.trumptwitterarchive.com/data/realdonaldtrump/2009.json')

In [4]:
src = pd.concat([trump2019, trump2018, trump2017, trump2016, \
trump2015, trump2014, trump2013, trump2012, trump2011, trump2010, trump2009])

### Clean up dates

In [5]:
src.head()

,created_at,favorite_count,id_str,in_reply_to_user_id_str,is_retweet,retweet_count,source,text
0,2019-10-26 14:43:01,49626,1188103745525243904,NaN,False,12613,Twitter for iPhone,Where’s the Whistleblower?
1,2019-10-26 14:41:18,44668,1188103311653769216,NaN,False,12458,Twitter for iPhone,The Fake Washington Post keeps doing phony sto...
2,2019-10-26 13:54:33,29724,1188091546513616896,NaN,False,8282,Twitter for iPhone,My Administration is fighting hard to end the ...
3,2019-10-26 12:18:29,28861,1188067370478309376,25073877.0,False,7978,Twitter for iPhone,....
4,2019-10-26 12:18:28,43671,1188067369501052928,25073877.0,False,10622,Twitter for iPhone,....greatly help the African American communit...

In [6]:
src['eastern_created_at'] = src['created_at'].dt.time
src['eastern_created_at'] = src['created_at'].dt.tz_localize("GMT").dt.tz_convert('America/Los_Angeles')
src['date'] = pd.to_datetime(src['eastern_created_at']).dt.strftime('%m/%d/%Y')
src['date'] = pd.to_datetime(src['date'])
src['year'] = src['eastern_created_at'].dt.year
src['month'] = src['eastern_created_at'].dt.month
src['day'] = src['eastern_created_at'].dt.day
src['hour'] = src['eastern_created_at'].dt.hour
src['minute'] = src['eastern_created_at'].dt.minute
src['time'] = src['eastern_created_at'].dt.time
src['id_str'] = src['id_str'].astype(str)
src['year'] = src['year'].astype(str)
src['month'] = src['month'].astype(str)
src['day'] = src['day'].astype(str)
src['hour'] = src['hour'].astype(str)

In [7]:
src.dtypes

created_at                                      datetime64[ns]
favorite_count                                           int64
id_str                                                  object
in_reply_to_user_id_str                                float64
is_retweet                                                bool
retweet_count                                            int64
source                                                  object
text                                                    object
eastern_created_at         datetime64[ns, America/Los_Angeles]
date                                            datetime64[ns]
year                                                    object
month                                                   object
day                                                     object
hour                                                    object
minute                                                   int64
time                                                    object
dtype: object

In [13]:
src.reset_index().to_json('/Users/mhustiles/data/github/notebooks/trump-tweet-frequency/output/realdonaldtrump.json')

In [14]:
src.head()

,created_at,favorite_count,id_str,in_reply_to_user_id_str,is_retweet,retweet_count,source,text,eastern_created_at,date,year,month,day,hour,minute,time
0,2019-10-26 14:43:01,49626,1188103745525243904,NaN,False,12613,Twitter for iPhone,Where’s the Whistleblower?,2019-10-26 07:43:01-07:00,2019-10-26,2019,10,26,7,43,07:43:01
1,2019-10-26 14:41:18,44668,1188103311653769216,NaN,False,12458,Twitter for iPhone,The Fake Washington Post keeps doing phony sto...,2019-10-26 07:41:18-07:00,2019-10-26,2019,10,26,7,41,07:41:18
2,2019-10-26 13:54:33,29724,1188091546513616896,NaN,False,8282,Twitter for iPhone,My Administration is fighting hard to end the ...,2019-10-26 06:54:33-07:00,2019-10-26,2019,10,26,6,54,06:54:33
3,2019-10-26 12:18:29,28861,1188067370478309376,25073877.0,False,7978,Twitter for iPhone,....,2019-10-26 05:18:29-07:00,2019-10-26,2019,10,26,5,18,05:18:29
4,2019-10-26 12:18:28,43671,1188067369501052928,25073877.0,False,10622,Twitter for iPhone,....greatly help the African American communit...,2019-10-26 05:18:28-07:00,2019-10-26,2019,10,26,5,18,05:18:28