# COVID-19 cases

### Load python tools

In [1]:
import pandas as pd
import geopandas as gpd
import jenkspy
import matplotlib.pyplot as plt
%matplotlib inline
import json
import numpy as np
from altair import datum
import altair as alt
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
from selenium import webdriver
driver = webdriver.Chrome(executable_path='/Users/mhustiles/Desktop/chromedriver')

### CDC testing capacity

In [96]:
tables = pd.read_html('https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/testing-in-us.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov\
%2Fcoronavirus%2F2019-ncov%2Ftesting-in-us.html',  header=0)

In [97]:
tables = pd.DataFrame(tables[0])

In [98]:
tables.columns = tables.columns.str.strip().str.lower().str.replace(' ', '_')\
                    .str.replace('(', '').str.replace(')', '').str.replace('-','_')

In [99]:
tables.rename(columns={"us_public_health_labs": "US Public Health Labs",\
                   "cdc_labs": "CDC Labs", 'date_collected':'Date'}, inplace=True)

In [ ]:
tables['Date'] = pd.to_datetime(tables['Date'] + '/2020')

In [101]:
tables.head()

        Date CDC Labs US Public Health Labs
0 2020-01-18        4                     0
1 2020-01-19        0                     0
2 2020-01-20        7                     0
3 2020-01-21        3                     0
4 2020-01-22       10                     0

In [102]:
tables['US Public Health Labs'] = tables['US Public Health Labs'].str.replace('‡','').str.replace('§','').fillna('0')

In [103]:
tables['CDC Labs'] = tables['CDC Labs'].str.replace('§','').str.replace('‡','').fillna('0')

In [104]:
# tables = tables[tables['Date'] <= '2020/03/10']

In [105]:
tables_melt = pd.melt(tables, id_vars=['Date'], value_vars=['US Public Health Labs', 'CDC Labs'],
        var_name='lab_type', value_name='test_count')

In [106]:
tables.to_csv('output/cdc_testing_table.csv')
tables_melt.to_csv('output/cdc_testing_table_melt.csv')
tables_melt.tail(10)

          Date  lab_type test_count
126 2020-03-16  CDC Labs          3
127 2020-03-17  CDC Labs         15
128 2020-03-18  CDC Labs         21
129 2020-03-19  CDC Labs         15
130 2020-03-20  CDC Labs         11
131 2020-03-21  CDC Labs         32
132 2020-03-22  CDC Labs          1
133 2020-03-23  CDC Labs          2
134 2020-03-24  CDC Labs          1
135 2020-03-25  CDC Labs

In [107]:
tables_melt.head()

        Date               lab_type test_count
0 2020-01-18  US Public Health Labs          0
1 2020-01-19  US Public Health Labs          0
2 2020-01-20  US Public Health Labs          0
3 2020-01-21  US Public Health Labs          0
4 2020-01-22  US Public Health Labs          0

In [118]:
tables_melt.head()

        Date               lab_type test_count
0 2020-01-18  US Public Health Labs          0
1 2020-01-19  US Public Health Labs          0
2 2020-01-20  US Public Health Labs          0
3 2020-01-21  US Public Health Labs          0
4 2020-01-22  US Public Health Labs          0

In [109]:
chart = alt.Chart(tables_melt).mark_bar(size=12).encode(
    x=alt.X('Date:T', title='Date', axis=alt.Axis(tickCount=10)),
    y=alt.Y('sum(test_count)', title=''),
    color=alt.Color('lab_type', legend=alt.Legend(orient="top"), title=''),
    order=alt.Order(
      # Sort the segments of the bars by this field
      'lab_type',
      sort='ascending'
    )
).properties(width=800, title={
      "text": ["CDC: Daily U.S. coronavirus specimens tested, by lab type"], 
      "subtitle": ["Figures from last four days reported as 'pending'"],
      "color": "black",
      "subtitleColor": "gray"})

In [110]:
chart.save('visualization.png')

In [111]:
chart.save('visualization.svg')

---

In [112]:
url_cases = 'https://www.cdc.gov/coronavirus/2019-ncov/map-data-cases.csv'

In [113]:
cases = pd.read_csv(url_cases, encoding='latin-1')

In [114]:
cases.columns = cases.columns.str.strip().str.lower().str.replace(' ', '_')\
                    .str.replace('(', '').str.replace(')', '').str.replace('-','_')

In [115]:
cases['cases_reported'] = cases['cases_reported'].str.replace('None', '0')

In [ ]:
cases.sort_values(by='cases_reported',ascending=False).head(50)

In [ ]:
cases.drop(['unnamed:_5', 'unnamed:_6', 'unnamed:_7'], axis=1, inplace=True)

In [122]:
cases.head()

,jurisdiction,range,cases_reported,community_transmission,url
0,Alabama,51 to 100,51,Undetermined,http://www.adph.org/
1,Alaska,6 to 50,6,Undetermined,http://dhss.alaska.gov/Pages/default.aspx
2,American Samoa,None,0,NaN,http://dhss.as/
3,Arizona,6 to 50,27,Undetermined,http://www.azdhs.gov/
4,Arkansas,6 to 50,37,"Yes, defined area(s)",http://www.healthy.arkansas.gov/Pages/default....

---

### Johns Hopkins data

In [117]:
# Cases: 
# https://services1.arcgis.com/0MSEUqKaxRlEPj5g/ArcGIS/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/1

# Deaths: 
# https://services1.arcgis.com/0MSEUqKaxRlEPj5g/ArcGIS/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/0

# Cases countries: 
# https://services1.arcgis.com/0MSEUqKaxRlEPj5g/ArcGIS/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/2

# Cases/time: 
# https://services1.arcgis.com/0MSEUqKaxRlEPj5g/ArcGIS/rest/services/cases_time_v3/FeatureServer/0

---

In [ ]:
# !tippecanoe --generate-ids --force -r1 -pk -pf -o \
# output/icus_geo.mbtiles \
# output/icus_geo.geojson