# Parsing my Google location history

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline
import json
import numpy as np
import altair as alt
alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
plt.rcParams['figure.figsize'] = (16,8)
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000
pd.options.display.float_format = '{:,.2f}'.format
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [2]:
src = pd.read_json('/Users/mhustiles/data/data/GIS/location-hostory/Takeout/Location History/Location History.json')

In [6]:
src.iloc[[0]]

                                           locations
0  {'timestampMs': '1296200334372', 'latitudeE7':...