In [129]:
import pandas as pd
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt
import geojson
import json
import jenkspy
import numpy as np
import glob
import io
import os
from shapely.geometry import Point, LineString
from altair import datum
import altair as alt
alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 100

In [130]:
a_flight = pd.read_csv('input/flights/DL89_228f611c.csv')

In [131]:
a_flight.head()

,Timestamp,UTC,Callsign,Position,Altitude,Speed,Direction
0,1571684146,2019-10-21T18:55:46Z,DAL89,"33.945415,-118.410347",0,0,264
1,1571688008,2019-10-21T20:00:08Z,DAL89,"33.945431,-118.410126",0,9,264
2,1571688026,2019-10-21T20:00:26Z,DAL89,"33.945442,-118.409904",0,9,258
3,1571688044,2019-10-21T20:00:44Z,DAL89,"33.945438,-118.40966",0,9,250
4,1571688065,2019-10-21T20:01:05Z,DAL89,"33.945442,-118.409454",0,2,236

In [132]:
a_flight.dtypes

Timestamp     int64
UTC          object
Callsign     object
Position     object
Altitude      int64
Speed         int64
Direction     int64
dtype: object

In [133]:
path = 'input/flights/'

In [134]:
files = glob.glob(os.path.join(path, "*.csv"))

In [135]:
file_df = (pd.read_csv(f, encoding = "ISO-8859-1", low_memory=False)\
           .assign(flightid=os.path.basename(f)) for f in files)

In [136]:
concatenated_df = pd.concat(file_df, ignore_index=True)

In [137]:
concatenated_df['flightid'] = concatenated_df['flightid']\
    .str.replace('DL89_','')\
    .str.replace('.csv','')

In [138]:
len(concatenated_df)

196276

In [139]:
concatenated_df.columns = concatenated_df.columns.str.strip().str.lower().str.replace(' ', '_')\
                    .str.replace('(', '').str.replace(')', '').str.replace('-','_')

In [140]:
flights = pd.DataFrame(concatenated_df.sort_values(by='timestamp', ascending=False))

In [141]:
lat = []
lon = []

for row in flights['position']:
    lat.append(row.split(',')[0])
    lon.append(row.split(',')[1])
        
flights['latitude'] = lat
flights['longitude'] = lon

In [142]:
flights['latitude'] = flights['latitude'].astype(float)
flights['longitude'] = flights['longitude'].astype(float)

In [143]:
flights['utc_datetime'] = pd.to_datetime(flights['utc'], format='%Y-%m-%dT%H:%M:%SZ').dt.tz_localize('UTC')

In [144]:
flights['datetime'] = flights['utc_datetime'].dt.tz_convert('America/Los_Angeles')

In [145]:
flights['date'] = pd.to_datetime(flights['datetime']).dt.strftime('%m/%d/%Y')
flights['time'] = pd.to_datetime(flights['datetime']).dt.strftime('%H:%M:%S')

In [146]:
# flights['time'] = flights['datetime'].dt.time

In [147]:
flights['display_time'] = pd.to_datetime(flights['datetime']).dt.strftime('%I:%M %p')

In [148]:
flights['weekday'] = flights['datetime'].dt.weekday_name

In [149]:
flights = flights.drop(['utc', 'timestamp','position','utc_datetime'], axis=1)

In [150]:
flights.head()

,callsign,altitude,speed,direction,flightid,latitude,longitude,datetime,date,time,display_time,weekday
100664,DAL89,0,12,132,23856f50,33.947285,-118.404953,2020-01-14 12:10:28-08:00,01/14/2020,12:10:28,12:10 PM,Tuesday
100663,DAL89,0,15,132,23856f50,33.947453,-118.405182,2020-01-14 12:10:16-08:00,01/14/2020,12:10:16,12:10 PM,Tuesday
100662,DAL89,0,19,118,23856f50,33.947697,-118.405479,2020-01-14 12:10:05-08:00,01/14/2020,12:10:05,12:10 PM,Tuesday
100661,DAL89,0,20,101,23856f50,33.947823,-118.405685,2020-01-14 12:09:58-08:00,01/14/2020,12:09:58,12:09 PM,Tuesday
100660,DAL89,0,21,84,23856f50,33.947857,-118.405907,2020-01-14 12:09:52-08:00,01/14/2020,12:09:52,12:09 PM,Tuesday

In [151]:
flights.to_csv('output/flights.csv')

In [161]:
flights_geo = gpd.GeoDataFrame(flights, geometry=gpd.points_from_xy(flights['longitude'], flights['latitude']))

In [162]:
flights_geo.head()

,callsign,altitude,speed,direction,flightid,latitude,longitude,datetime,date,time,display_time,weekday,geometry
100664,DAL89,0,12,132,23856f50,33.947285,-118.404953,2020-01-14 12:10:28-08:00,01/14/2020,12:10:28,12:10 PM,Tuesday,POINT (-118.404953 33.947285)
100663,DAL89,0,15,132,23856f50,33.947453,-118.405182,2020-01-14 12:10:16-08:00,01/14/2020,12:10:16,12:10 PM,Tuesday,POINT (-118.405182 33.947453)
100662,DAL89,0,19,118,23856f50,33.947697,-118.405479,2020-01-14 12:10:05-08:00,01/14/2020,12:10:05,12:10 PM,Tuesday,POINT (-118.405479 33.947697)
100661,DAL89,0,20,101,23856f50,33.947823,-118.405685,2020-01-14 12:09:58-08:00,01/14/2020,12:09:58,12:09 PM,Tuesday,POINT (-118.405685 33.947823)
100660,DAL89,0,21,84,23856f50,33.947857,-118.405907,2020-01-14 12:09:52-08:00,01/14/2020,12:09:52,12:09 PM,Tuesday,POINT (-118.405907 33.947857)

In [168]:
# flights_geo_line = flights_geo.groupby(['flightid', 'date', 'time'], as_index=False)['geometry']\
#     .apply(lambda x: LineString(x.tolist()) if x.size > 1 else x.tolist())

In [170]:
# flights_geo_line

flightid  date        time
1f2e4d5f  01/14/2019  12:38:33     [POINT (-118.403481 33.94812)]
                      12:40:41    [POINT (-118.403275 33.948231)]
                      12:40:50     [POINT (-118.403061 33.94836)]
                      12:41:00    [POINT (-118.402939 33.948624)]
                      12:41:10    [POINT (-118.403038 33.948875)]
                      12:41:17     [POINT (-118.403389 33.94894)]
                      12:41:23     [POINT (-118.403679 33.94891)]
                      12:41:32    [POINT (-118.403923 33.948883)]
                      12:41:38     [POINT (-118.404297 33.94883)]
                      12:41:44    [POINT (-118.404579 33.948795)]
                      12:41:54     [POINT (-118.405037 33.94875)]
                      12:42:07    [POINT (-118.405685 33.948681)]
                      12:42:13     [POINT (-118.406036 33.94865)]
                      12:42:21    [POINT (-118.406609 33.948593)]
                      12:42:36    [POINT (-118.407509 33.948498)]
                      12:42:42    [POINT (-118.407928 33.948463)]
                      12:42:49     [POINT (-118.40831 33.948418)]
                      12:43:00    [POINT (-118.409058 33.948349)]
                      12:43:12      [POINT (-118.4095 33.948299)]
                      12:43:36     [POINT (-118.409721 33.94828)]
                      12:43:50    [POINT (-118.410004 33.948242)]
                      12:44:02      [POINT (-118.410423 33.9482)]
                      12:44:12    [POINT (-118.410965 33.948143)]
                      12:44:18    [POINT (-118.411285 33.948109)]
                      12:44:26    [POINT (-118.411652 33.948074)]
                      12:44:36    [POINT (-118.412476 33.947998)]
                      12:44:44    [POINT (-118.413177 33.947926)]
                      12:44:52    [POINT (-118.413704 33.947845)]
                      12:44:58     [POINT (-118.414192 33.94772)]
                      12:45:05    [POINT (-118.414734 33.947613)]
                      12:45:11    [POINT (-118.415314 33.947548)]
                      12:45:23    [POINT (-118.416542 33.947433)]
                      12:45:33      [POINT (-118.417885 33.9473)]
                      12:45:44     [POINT (-118.41893 33.947193)]
                      12:45:53    [POINT (-118.420212 33.947056)]
                      12:46:00    [POINT (-118.421227 33.946953)]
                      12:46:08    [POINT (-118.421959 33.946869)]
                      12:46:14    [POINT (-118.422836 33.946781)]
                      12:46:25    [POINT (-118.424591 33.946602)]
                      12:46:37    [POINT (-118.426224 33.946438)]
                      12:46:49    [POINT (-118.428146 33.946243)]
                      12:46:55    [POINT (-118.428955 33.946159)]
                      12:47:06    [POINT (-118.430687 33.946026)]
                      12:47:15    [POINT (-118.431816 33.945923)]
                      12:47:24    [POINT (-118.432785 33.945831)]
                      12:47:30    [POINT (-118.433319 33.945786)]
                      12:47:37    [POINT (-118.433746 33.945763)]
                      12:47:44     [POINT (-118.434128 33.94582)]
                      12:47:50     [POINT (-118.43438 33.946003)]
                      12:47:58    [POINT (-118.434479 33.946438)]
                                               ...
23856f50  01/14/2020  12:03:26    [POINT (-118.416359 33.937122)]
                      12:03:33    [POINT (-118.416008 33.937164)]
                      12:03:44    [POINT (-118.415482 33.937214)]
                      12:03:51    [POINT (-118.415184 33.937237)]
                      12:04:01      [POINT (-118.41465 33.93729)]
                      12:04:13    [POINT (-118.414032 33.937351)]
                      12:04:21    [POINT (-118.413643 33.937397)]
                      12:04:37    [POINT (-118.412918 33.937477)]
                      12:04:51    [POINT (-118.412537 33.937977)]
                      12:04:57    [POINT (-118.412575 33.938271)]
                      12:05:09    [POINT (-118.412674 33.938919)]
                      12:05:15    [POINT (-118.412735 33.939316)]
                      12:05:21    [POINT (-118.412804 33.939793)]
                      12:05:27    [POINT (-118.412865 33.940224)]
                      12:05:36    [POINT (-118.412949 33.940784)]
                      12:05:42    [POINT (-118.413055 33.941242)]
                      12:05:51    [POINT (-118.413094 33.941769)]
                      12:05:57    [POINT (-118.413155 33.942204)]
                      12:06:08    [POINT (-118.413261 33.942879)]
                      12:06:16     [POINT (-118.413307 33.94326)]
                      12:06:26    [POINT (-118.413406 33.943844)]
                      12:06:36     [POINT (-118.41346 33.944321)]
                      12:06:48    [POINT (-118.413559 33.944984)]
                      12:06:55     [POINT (-118.41362 33.945332)]
                      12:07:06    [POINT (-118.413704 33.945915)]
                      12:07:12     [POINT (-118.413727 33.94614)]
                      12:07:18    [POINT (-118.413757 33.946381)]
                      12:07:24    [POINT (-118.413704 33.946625)]
                      12:07:33    [POINT (-118.413406 33.946838)]
                      12:07:40    [POINT (-118.413109 33.946896)]
                      12:07:49    [POINT (-118.412643 33.946976)]
                      12:08:01    [POINT (-118.411949 33.947147)]
                      12:08:07    [POINT (-118.411606 33.947243)]
                      12:08:13    [POINT (-118.411247 33.947296)]
                      12:08:19    [POINT (-118.410889 33.947334)]
                      12:08:28    [POINT (-118.410378 33.947388)]
                      12:08:34    [POINT (-118.410057 33.947418)]
                      12:08:40    [POINT (-118.409721 33.947456)]
                      12:08:46    [POINT (-118.409355 33.947502)]
                      12:08:52    [POINT (-118.409004 33.947536)]
                      12:08:59    [POINT (-118.408669 33.947567)]
                      12:09:11    [POINT (-118.407967 33.947639)]
                      12:09:23    [POINT (-118.407379 33.947697)]
                      12:09:35    [POINT (-118.406792 33.947765)]
                      12:09:46    [POINT (-118.406212 33.947823)]
                      12:09:52    [POINT (-118.405907 33.947857)]
                      12:09:58    [POINT (-118.405685 33.947823)]
                      12:10:05    [POINT (-118.405479 33.947697)]
                      12:10:16    [POINT (-118.405182 33.947453)]
                      12:10:28    [POINT (-118.404953 33.947285)]
Length: 196274, dtype: object

In [160]:
flights_geo = gpd.GeoDataFrame(flights_geo, geometry='geometry')

flightid  datetime
1f2e4d5f  2019-01-14 12:38:33-08:00     [POINT (-118.403481 33.94812)]
          2019-01-14 12:40:41-08:00    [POINT (-118.403275 33.948231)]
          2019-01-14 12:40:50-08:00     [POINT (-118.403061 33.94836)]
          2019-01-14 12:41:00-08:00    [POINT (-118.402939 33.948624)]
          2019-01-14 12:41:10-08:00    [POINT (-118.403038 33.948875)]
Name: geometry, dtype: object

In [112]:
flights_geo.to_file('output/flights_geo.geojson', driver='GeoJSON')

In [ ]:
# gas flight
flight23856f50 = flights_geo[flights_geo['flightid'] == '23856f50']
# https://www.flightradar24.com/data/flights/dl89#23856f50

### investigate anomalous routes

In [ ]:
flight1f9f3f90 = flights_geo[flights_geo['flightid'] == '1f9f3f90']
# https://www.flightradar24.com/data/flights/dl89#1f9f3f90

flight1f9e5864 = flights_geo[flights_geo['flightid'] == '1f9e5864']
# https://www.flightradar24.com/data/flights/dl89#1f9e5864

In [ ]:
flight1f9e5864.plot()

In [ ]:
western = flights_geo[flights_geo['longitude'] < -116]

In [ ]:
western.plot()

In [ ]:
drop these flights: 
    
    1f9f3f90 detroit to shanghai