In [1]:
import pandas as pd
import geopandas as gpd
import squarify
import matplotlib
import matplotlib.pyplot as plt
import geojson
import json
import jenkspy
import numpy as np
from earthpy import clip as cl
from altair import datum
import weightedcalcs as wc
import altair as alt
alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000

In [4]:
# data received via CPRA
src = pd.read_excel('/Users/mhustiles/data/data/lacounty/Fleet_Apparatus_Listing_12-20-18.xlsx')

In [6]:
src.head()

,Vehicle #,Make,Model,Year,Stat Summary Catagory,Type
0,F2867,FREIGHTLINER,CASCADIA,2019.0,NaN,TRUCK TRACTOR
1,F2868,FREIGHTLINER,CASCADIA,2019.0,NaN,TRUCK TRACTOR
2,F2869,FREIGHTLINER,CASCADIA,2019.0,NaN,TRUCK TRACTOR
3,F2826,RAM,4500,2017.0,NaN,AMBULANCE
4,49030,DODGE,D 200,1974.0,NaN,RESCUE STD CAB