# Analyzing LAPD's 'Part I' crimes database: 2010-present

### Import data tools

In [1]:
import pandas as pd
import geopandas as gpd
import pyarrow
import matplotlib
import matplotlib.pyplot as plt
import geojson
import json
import jenkspy
import numpy as np
from earthpy import clip as cl
from altair import datum
import weightedcalcs as wc
import altair as alt
alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000

### Read crimes CSV downloaded from LA City data portal

In [2]:
# data exported from '00-lapd-crimes-processing.ipynb'
crimes = pd.read_feather('/Users/mhustiles/data/data/LA/crimes.feather')

---

### Understanding LAPD's modus operandi codes

In [3]:
mocrimes = crimes.dropna(subset=['modus_operandi_code'])

In [4]:
mocodes = pd.read_csv('mo_codes.csv')
mocodes.head()

  mo_code  mo_code_description
0    0100  Suspect Impersonate
1    0101           Aid victim
2    0102                Blind
3    0103             Crippled
4    0104             Customer

### Isolating cases involving specific 'MO' tags (ie homeless, , gang, etc)

In [5]:
# For example...
mocodes_homeless = mocodes[mocodes['mo_code_description'].str.lower().str.contains('gang')]
mocodes_homeless.head()

    mo_code                                mo_code_description
114    0371  Gang affiliation questions asked/made gang sta...
117    0374            Gang signs/threw gang signs using hands
270    0906                                              Gangs
312    0946                                          Gang Feud
410    1270                             Victim was gang member

### Other filters

In [6]:
# Specific street
rubens = crimes[crimes['address'].str.contains('RUBENS', na=False)]
# Crimes tagged by specific modus operandi code
bunco = crimes[crimes['modus_operandi_code'].str.contains('0800', na=False) ]

---

## Basic aggregates on variables for all crimes

### Which crimes are most common?

In [7]:
violations = crimes.groupby(['crime_code_description'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [8]:
violations.head(10)

                               crime_code_description   total
9                               Burglary from vehicle  158313
54                                   Vehicle - stolen  156095
42                 Theft plain - petty ($950 & under)  146123
8                                            Burglary  144566
2      Assault with deadly weapon, aggravated assault   90406
39    Theft from motor vehicle - petty ($950 & under)   86000
29                                            Robbery   81944
47  Theft-grand ($950.01 & over)excpt,guns,fowl,li...   72552
32           Shoplifting - petty theft ($950 & under)   47194
38   Theft from motor vehicle - grand ($400 and over)   30586

### Places where crimes occur?

In [9]:
places = crimes.groupby(['premises_description'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [10]:
places.head(10)

                             premises_description   total
273                                        Street  349886
262                        Single family dwelling  143478
229                                   Parking lot  112576
207  Multi-unit dwelling (apartment, duplex, etc)   83698
261                                      Sidewalk   60125
220                                Other business   48990
64                                       Driveway   33597
80                                 Garage/carport   32711
56                               Department store   25964
108                                        Market   17935

### Areas of the city?

In [11]:
divisions = crimes.groupby(['division_name'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [12]:
divisions.head(10)

   division_name  total
0    77th Street  78236
15     Southwest  74211
12       Pacific  66080
8    N Hollywood  61802
14     Southeast  60088
9         Newton  56554
10     Northeast  54644
6      Hollywood  53645
2     Devonshire  53377
1        Central  53249

### What kinds of weapons?

In [13]:
weapons = crimes.groupby(['weapon_description'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [14]:
weapons.head(10)

                                weapon_description   total
65  Strong-arm (hands, fist, feet or bodily force)  102647
75                     Unknown weapon/other weapon   32299
27                                        Hand gun   30770
58                           Semi-automatic pistol   11830
32                Knife with blade 6inches or less   11487
44                                     Other knife    8738
77                                         Vehicle    6465
73                                 Unknown firearm    6131
50                                        Revolver    5136
78                                   Verbal threat    4977

### Which days of the week?

In [15]:
weekdays = crimes.groupby(['weekday'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [16]:
weekdays.head(7)

     weekday   total
0     Friday  177558
2   Saturday  166191
6  Wednesday  162045
4   Thursday  161946
1     Monday  159855
5    Tuesday  159270
3     Sunday  155250

---