# LAPD 'Part I' crimes database: 2010-present

### Import data tools

In [1]:
import pandas as pd
import geopandas as gpd
import pyarrow
import matplotlib
import matplotlib.pyplot as plt
import geojson
import json
import jenkspy
import numpy as np
from earthpy import clip as cl
from altair import datum
import weightedcalcs as wc
import altair as alt
alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000

### Read crimes CSV downloaded from LA City data portal

In [2]:
# data exported from '00-lapd-crimes-processing.ipynb'
crimes = pd.read_feather('/Users/mhustiles/data/data/LA/crimes.feather')

---

### Understanding LAPD's modus operandi codes

In [3]:
mocrimes = crimes.dropna(subset=['modus_operandi_code'])

In [4]:
mocodes = pd.read_csv('mo_codes.csv')
mocodes.head()

  mo_code  mo_code_description
0    0100  Suspect Impersonate
1    0101           Aid victim
2    0102                Blind
3    0103             Crippled
4    0104             Customer

### Isolating cases involving specific 'MO' tags (ie homeless, , gang, etc)

In [5]:
# For example...
mocodes_homeless = mocodes[mocodes['mo_code_description'].str.lower().str.contains('gang')]
mocodes_homeless.head()

    mo_code                                mo_code_description
114    0371  Gang affiliation questions asked/made gang sta...
117    0374            Gang signs/threw gang signs using hands
270    0906                                              Gangs
312    0946                                          Gang Feud
410    1270                             Victim was gang member

### Other filters

In [6]:
# Specific street
rubens = crimes[crimes['address'].str.contains('RUBENS', na=False)]
# Crimes tagged by specific modus operandi code
bunco = crimes[crimes['modus_operandi_code'].str.contains('0800', na=False) ]

---

## Basic aggregates on variables for all crimes

### Which crimes are most common?

In [7]:
violations = crimes.groupby(['crime_code_description'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [8]:
violations.head(10)

                               crime_code_description   total
9                               Burglary from vehicle  158361
54                                   Vehicle - stolen  156154
42                 Theft plain - petty ($950 & under)  146185
8                                            Burglary  144622
2      Assault with deadly weapon, aggravated assault   90440
39    Theft from motor vehicle - petty ($950 & under)   86028
29                                            Robbery   81975
47  Theft-grand ($950.01 & over)excpt,guns,fowl,li...   72597
32           Shoplifting - petty theft ($950 & under)   47205
38   Theft from motor vehicle - grand ($400 and over)   30601

### Places where crimes occur?

In [9]:
places = crimes.groupby(['premises_description'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [10]:
places.head(10)

                             premises_description   total
273                                        Street  350026
262                        Single family dwelling  143539
229                                   Parking lot  112611
207  Multi-unit dwelling (apartment, duplex, etc)   83720
261                                      Sidewalk   60151
220                                Other business   49011
64                                       Driveway   33607
80                                 Garage/carport   32724
56                               Department store   25974
108                                        Market   17939

### Areas of the city?

In [11]:
divisions = crimes.groupby(['division_name'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [12]:
divisions.head(10)

   division_name  total
0    77th Street  78261
15     Southwest  74244
12       Pacific  66111
8    N Hollywood  61829
14     Southeast  60118
9         Newton  56567
10     Northeast  54665
6      Hollywood  53666
2     Devonshire  53407
1        Central  53266

### What kinds of weapons?

In [13]:
weapons = crimes.groupby(['weapon_description'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [14]:
weapons.head(10)

                                weapon_description   total
65  Strong-arm (hands, fist, feet or bodily force)  102692
75                     Unknown weapon/other weapon   32313
27                                        Hand gun   30778
58                           Semi-automatic pistol   11834
32                Knife with blade 6inches or less   11492
44                                     Other knife    8742
77                                         Vehicle    6465
73                                 Unknown firearm    6133
50                                        Revolver    5139
78                                   Verbal threat    4978

### Which days of the week?

In [15]:
weekdays = crimes.groupby(['weekday'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [16]:
weekdays.head(7)

     weekday   total
0     Friday  177589
2   Saturday  166241
6  Wednesday  162079
4   Thursday  161974
1     Monday  160010
5    Tuesday  159369
3     Sunday  155294

---

### Cleaning up modus operandi

In [17]:
# df = crimes[['record_id', 'modus_operandi_code']]

In [18]:
# df['modus_operandi_code'] = df['modus_operandi_code'].dropna().apply(lambda x: x.split(' '))

In [19]:
# final = df['modus_operandi_code'].apply(pd.Series)\
# .merge(df, left_index = True, right_index = True)\
# .drop('modus_operandi_code', axis = 1)\
# .melt(id_vars = ['record_id'], value_name = "modus_operandi_code", var_name = 'modoporder')\
# .dropna(subset=['modus_operandi_code'])\
# .sort_values('record_id')

In [20]:
# mo_counts = final.groupby(['modus_operandi_code']).agg('size')\
# .reset_index(name='count').sort_values(by='count', ascending=False)

In [21]:
# merged_mo_counts = pd.merge(mo_counts, mocodes, 
#                      left_on = 'modus_operandi_code', 
#                      right_on = 'mo_code', 
#                      how='left')

In [22]:
# merged_mo_counts.head()

---