## How often does President Trump tweet each day?

In [1]:
import altair as alt
import pandas as pd
import matplotlib as mpl
import numpy as np
import json
import pytz
from datetime import datetime
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')

ThemeRegistry.enable('latimes')

### Get the latest 1,000 tweets from the thetrumparchive.com API endpoint

In [2]:
latest = pd.read_json('https://www.thetrumparchive.com/latest-tweets')

In [3]:
latest[latest['text'].str.contains('missing military ballots')]

,id,text,isRetweet,isDeleted,device,favorites,retweets,date
354,1324768077939118080,Where are the missing military ballots in Geor...,False,False,Twitter for iPhone,653231,120050,2020-11-06 17:38:17+00:00

In [4]:
latest.sort_values('date', ascending=False).head()

,id,text,isRetweet,isDeleted,device,favorites,retweets,date
0,1328382287331856384,Georgia won’t let us look at the all important...,False,False,Twitter for iPhone,115108,27739,2020-11-16 16:59:52+00:00
1,1328370030678044672,European Countries are sadly getting clobbered...,False,False,Twitter for iPhone,121479,21593,2020-11-16 16:11:09+00:00
2,1328367970352066560,"STOCK MARKET GETTING VERY CLOSE TO 30,000 ON N...",False,False,Twitter for iPhone,128897,20236,2020-11-16 16:02:58+00:00
3,1328367108871385088,They will PACK THE COURTS. We won’t let that h...,False,False,Twitter for iPhone,153023,23972,2020-11-16 15:59:33+00:00
4,1328361451497664512,"The Radical Left Democrats, working with their...",False,False,Twitter for iPhone,177368,35806,2020-11-16 15:37:04+00:00

In [5]:
#get latest
trump_past = pd.read_json('input/tweets_11-06-2020.json')

### Combine the latest 1,000 with past archive

In [6]:
src = pd.concat([latest, trump_past])

In [7]:
src = src.drop_duplicates(subset='text')

### Clean up dates

In [8]:
src.head()

,id,text,isRetweet,isDeleted,device,favorites,retweets,date
0,1328382287331856384,Georgia won’t let us look at the all important...,False,False,Twitter for iPhone,115108,27739,2020-11-16 16:59:52+00:00
1,1328370030678044672,European Countries are sadly getting clobbered...,False,False,Twitter for iPhone,121479,21593,2020-11-16 16:11:09+00:00
2,1328367970352066560,"STOCK MARKET GETTING VERY CLOSE TO 30,000 ON N...",False,False,Twitter for iPhone,128897,20236,2020-11-16 16:02:58+00:00
3,1328367108871385088,They will PACK THE COURTS. We won’t let that h...,False,False,Twitter for iPhone,153023,23972,2020-11-16 15:59:33+00:00
4,1328361451497664512,"The Radical Left Democrats, working with their...",False,False,Twitter for iPhone,177368,35806,2020-11-16 15:37:04+00:00

In [9]:
src['eastern_created_at'] = pd.to_datetime(src['date'], utc=True)

In [10]:
src['eastern_created_at'] = pd.to_datetime(src['date'], utc=True).dt.tz_convert('America/Los_Angeles')

In [11]:
src['date'] = pd.to_datetime(src['eastern_created_at']).dt.strftime('%m/%d/%Y')
src['date'] = pd.to_datetime(src['date'])
src['year'] = src['eastern_created_at'].dt.year
src['month'] = src['eastern_created_at'].dt.month
src['day'] = src['eastern_created_at'].dt.day
src['hour'] = src['eastern_created_at'].dt.hour
src['minute'] = src['eastern_created_at'].dt.minute
src['time'] = src['eastern_created_at'].dt.time
src['id'] = src['id'].astype(str)
src['year'] = src['year'].astype(str)
src['month'] = src['month'].astype(str)
src['day'] = src['day'].astype(str)
src['hour'] = src['hour'].astype(str)

In [12]:
src.dtypes

id                                                 object
text                                               object
isRetweet                                          object
isDeleted                                          object
device                                             object
favorites                                           int64
retweets                                            int64
date                                       datetime64[ns]
eastern_created_at    datetime64[ns, America/Los_Angeles]
year                                               object
month                                              object
day                                                object
hour                                               object
minute                                              int64
time                                               object
dtype: object

In [13]:
src.reset_index().to_json('/Users/mhustiles/data/github/notebooks/trump-tweet-frequency/output/realdonaldtrump.json')