# Using Tweepy

### Load python tools

In [15]:
import pandas as pd
import numpy as np
import tweepy
import twint
import glob
import os
import json

### Get authenticated

In [3]:
consumer_key="0EtWySJEum7PpQ7ubreQgLwH5"
consumer_secret="6DPNvqyx44VlJWL3AAdNj53hmkiNAh0uGrvjfVH0ixmyLLqQe7"
access_token="14790314-YvDi7tRrBMQNqPo2BEKqAx7n7lo8fBnA3InySZcg9"
access_token_secret="iKL0A2Hl5oBlbV3m0ffYGWsjK4EVnS9VxvjFRPCCfW5XZ"

In [4]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [22]:
api = tweepy.API(auth, retry_delay=100, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [29]:
results = api.search(q='@stiles', count=100)

json_data = [r._json for r in results]

df = pd.json_normalize(json_data)

In [30]:
df.head()

,created_at,id,id_str,text,truncated,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,retweeted_status.quoted_status.coordinates,retweeted_status.quoted_status.place,retweeted_status.quoted_status.contributors,retweeted_status.quoted_status.is_quote_status,retweeted_status.quoted_status.retweet_count,retweeted_status.quoted_status.favorite_count,retweeted_status.quoted_status.favorited,retweeted_status.quoted_status.retweeted,retweeted_status.quoted_status.possibly_sensitive,retweeted_status.quoted_status.lang
0,Sun Nov 29 17:00:58 +0000 2020,1333093606639407111,1333093606639407111,"@stiles If you don't mind sweet snacks, here i...",False,"<a href=""http://twitter.com/download/android"" ...",1.332758e+18,1332758278384848897,14790314.0,14790314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sun Nov 29 08:37:41 +0000 2020,1332966953607053315,1332966953607053315,@stiles https://t.co/3MW0XkCSOn,False,"<a href=""http://twitter.com/download/iphone"" r...",1.332758e+18,1332758278384848897,14790314.0,14790314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sun Nov 29 04:12:49 +0000 2020,1332900297040138240,1332900297040138240,"@stiles Breaded, fried sweet potatoes were com...",False,"<a href=""https://mobile.twitter.com"" rel=""nofo...",1.332853e+18,1332852713114136576,14790314.0,14790314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sun Nov 29 02:52:42 +0000 2020,1332880136513810434,1332880136513810434,@vicjkim @stiles Niiice. Do they sell the 호박고구...,True,"<a href=""http://twitter.com/download/android"" ...",1.332833e+18,1332832545625391106,54643600.0,54643600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sun Nov 29 01:12:04 +0000 2020,1332854810459049984,1332854810459049984,@stiles This spicy sweet potato is the annual ...,True,"<a href=""http://twitter.com/download/iphone"" r...",1.332853e+18,1332852713114136576,14790314.0,14790314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN