# National churches database

In [5]:
%load_ext lab_black

In [6]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [7]:
%matplotlib inline
import json
import numpy as np
import altair as alt
import altair_latimes as lat

In [8]:
alt.themes.register("latimes", lat.theme)
alt.themes.enable("latimes")
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [9]:
# https://www.usabledatabases.com/database/usa-churches-in-cities-from-states/

### Import three of four relational tables from the database

In [26]:
denomination = pd.read_csv("raw/churchdb/denomination.csv")

In [27]:
church = pd.read_csv("raw/churchdb/church.csv")

In [28]:
city = pd.read_csv("raw/churchdb/city.csv")

### Merge the tables

In [29]:
add_denomination = pd.merge(
    church, denomination, right_on="id", left_on="denomination_id"
)

In [30]:
churchdf = pd.merge(add_denomination, city, left_on="city_id", right_on="id")

### Clean up our newly merged dataframe

In [31]:
churchdf.drop(
    [
        "id_x",
        "id",
        "id_y",
        "city_id",
        "denomination_id",
        "phone",
        "state_id",
        "fax",
        "web_site",
        "average_attendance",
        "driving_direction",
        "major_cross_street",
        "email_contact",
        "local_ministry",
        "slug_y",
        "count_y",
        "count_x",
        "slug_x",
        "title",
    ],
    axis=1,
    inplace=True,
)

In [80]:
churchdf.rename(
    columns={
        "title_x": "church_name",
        "title_y": "type",
        "slug_y": "slug",
        "type": "denomination",
    },
    inplace=True,
)

### Clean up the address and type fields

---

In [81]:
churches = churchdf.copy()

In [82]:
churches["address"] = churches["address"].str.replace("&nbsp; ", ", ", regex=False)

In [84]:
churches["denomination"] = churches["denomination"].str.replace(
    " Churches", "", regex=False
)

In [85]:
churches.head()

,church_name,address,denomination
0,Anniston Foursquare Gospel Church,"305 Embry St, Anniston, AL",Foursquare
1,Apostolic Faith Church,"709 S Christine Ave, Anniston, AL",Apostolic
2,Apostolic Lighthouse,"508 Booker St, Talladega, AL",Apostolic
3,New Day Apostolic Church,"1315 W 17th St, Anniston, AL",Apostolic
4,Covenant Lutheran Church,"406 Pelham Rd N, Jacksonville, AL",Lutheran

In [62]:
len(churches)

---

In [108]:
types = {
    "Anglican": ["Anglican"],
    "Apostolic": ["Apostolic"],
    "Assembly of God": ["Assembly of God"],
    "Baptist": ["Baptist"],
    "Bible": ["Bible"],
    "Brethren": ["Brethren"],
    "Calvary Chapel": ["Calvary Chapel"],
    "Catholic": ["Catholic"],
    "Christian": ["Christian"],
    "Church of Christ": ["Church of Christ"],
    "Church of God": ["Church of God"],
    "Congregational": ["Congregational"],
    "Episcopal": ["Episcopal"],
    "Evangelical": ["Evangelical"],
    "Foursquare": ["Foursquare"],
    "Lutheran": ["Lutheran"],
    "Mennonite": ["Mennonite"],
    "Messianic": ["Messianic"],
    "Methodist": ["Methodist"],
    "Nazarene": ["Nazarene"],
    "Non-Denominational": ["Non-Denominational"],
    "Orthodox": ["Orthodox"],
    "Pentecostal": ["Pentecostal"],
    "Presbyterian": ["Presbyterian"],
    "Reformed": ["Reformed"],
    "Seventh Day Adventist": ["Seventh Day Adventist"],
    "Vineyard": ["Vineyard"],
}

In [117]:
from nltk.stem import *

In [119]:
stemmer = stem('en')

NameError: name 'stem' is not defined

In [120]:
dfs = []
for key,values in categories.items():
    words = pd.DataFrame({'category': key, 'term': stemmer.stemWords(values)})
    dfs.append(words)

terms_df = pd.concat(dfs)

terms_df

NameError: name 'stemmer' is not defined

---

### California churches

In [66]:
ca_churches = churches[churches["address"].str.contains(", CA")]

In [67]:
len(ca_churches)

10060

In [69]:
ca_churches.head(5)

,church_name,address,type
11720,Fort Yuma United Methodist,"350 Picacho Rd, Winterhaven, CA",Methodist
11723,Bard Of The Nazarene,"1497 Ross Rd, Winterhaven, CA",Nazarene
33258,Anaheim Hills Foursquare,"3331 E Orangethorpe Ave, Anaheim, CA",Foursquare
33259,Calvary Faith Center Foursquare,"323 W B St, Ontario, CA",Foursquare
33260,Chino Hills Foursquare,"15558 Avery St, Chino Hills, CA",Foursquare