# 2020 election results

In [1]:
import pandas as pd
import geopandas as gpda
import jenkspy
import matplotlib.pyplot as plt
import json
import numpy as np
from altair import datum
import altair as alt
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [5]:
senators = ['Wyoming', 'Indiana', 'Montana', 'Texas', 'Wisconsin', 'Louisiana', 'Kansas', 'Alabama', 'Tennessee', 'Oklahoma']

---

In [15]:
df = pd.read_csv('../../US_County_Level_Election_Results_08-20/2020_US_County_Level_Presidential_Results.csv',\
                dtype={'county_fips':str})

In [16]:
df.head()

,state_name,county_fips,county_name,votes_gop,votes_dem,total_votes,diff,per_gop,per_dem,per_point_diff
0,Alabama,01001,Autauga County,19838,7503,27770,12335,0.714368,0.270184,0.444184
1,Alabama,01003,Baldwin County,83544,24578,109679,58966,0.761714,0.224090,0.537623
2,Alabama,01005,Barbour County,5622,4816,10518,806,0.534512,0.457882,0.076631
3,Alabama,01007,Bibb County,7525,1986,9595,5539,0.784263,0.206983,0.577280
4,Alabama,01009,Blount County,24711,2640,27588,22071,0.895716,0.095694,0.800022

---

In [17]:
states = df.groupby(['state_name']).agg({'votes_dem':'sum', 'votes_gop':'sum'}).reset_index()

In [18]:
states.head()

   state_name  votes_dem  votes_gop
0     Alabama     849648    1441168
1      Alaska     153405     189892
2     Arizona    1672143    1661686
3    Arkansas     423932     760647
4  California   11109764    6005961

---

In [26]:
sen_both = states[states['state_name'].isin(senators)].votes_dem.sum()\
        + states[states['state_name'].isin(senators)].votes_gop.sum()

In [27]:
sen_biden = states[states['state_name'].isin(senators)].votes_dem.sum()

In [28]:
sen_trump = states[states['state_name'].isin(senators)].votes_gop.sum()

In [31]:
biden_share = round((sen_biden / sen_both)*100,2)
trump_share = round((sen_trump / sen_both)*100,2)

In [32]:
trump_share

56.56

In [33]:
biden_share

43.44

In [35]:
sen_trump

16095697