# How often does LAPD make arrests in Part I crimes_one?

### Import data tools

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt
import geojson
import json
import jenkspy
import numpy as np
from earthpy import clip as cl
from altair import datum
import weightedcalcs as wc
import altair as alt
alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000

### Read crimes_one CSV downloaded from LA City data portal

In [2]:
# https://data.lacity.org/A-Safe-City/Crime-Data-from-2010-to-Present/63jg-8b9z
src = pd.read_csv('/Users/mhustiles/data/data/LA/Crime_Data_from_2010_to_Present.csv')

In [3]:
src.head(1)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,0913 1814 2000,48,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695

### Filter 'crimes_one' to part I cases

In [4]:
crimes_one = src[src['Part 1-2'] == 1]

In [5]:
len(crimes_one)

1142556

In [6]:
len(src)

2062353

In [7]:
crimes_one.columns = crimes_one.columns.str.strip().str.lower()\
.str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

### These data are super messy...

In [8]:
crimes_one.rename(columns = { 
'dr_no':'record_id',
'date_rptd':'date_reported',
'date_occ':'date_occurred',
'time_occ':'time_occurred',
'area':'division',
'area_name':'division_name',
'rpt_dist_no':'reporting_district',
'part_1-2':'part_type',
'crm_cd':'crime_code',
'crm_cd_desc':'crime_code_description',
'mocodes':'modus_operandi_code',
'vict_age':'victim_age',
'vict_sex':'victim_sex',
'vict_descent':'victim_descent',
'premis_cd':'premises_code',
'premis_desc':'premises_description',
'weapon_used_cd':'weapon_code',
'weapon_desc':'weapon_description',
'status':'status_code',
'status_desc':'status_code_description',
'crm_cd_1':'crm_cd_1',
'crm_cd_2':'crm_cd_2',
'crm_cd_3':'crm_cd_3',
'crm_cd_4':'crm_cd_4',
'location':'address',
'cross_street':'cross_street',
'lat':'latitude',
'lon':'longitide',
 }, inplace = True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

### ... contunued

In [9]:
crimes_one['date_reported'] = crimes_one['date_reported'].str.replace(' 12:00:00 AM','')
crimes_one['date_occurred'] = crimes_one['date_occurred'].str.replace(' 12:00:00 AM','')
crimes_one['date_occurred'] = pd.to_datetime(crimes_one['date_occurred'], format='%m/%d/%Y')
crimes_one['year'] = crimes_one['date_occurred'].dt.year
crimes_one['quarter'] = crimes_one['date_occurred'].dt.quarter
crimes_one['day'] = crimes_one['date_occurred'].dt.day
crimes_one['month'] = crimes_one['date_occurred'].dt.month
crimes_one['weekday'] = crimes_one['date_occurred'].dt.weekday_name
crimes_one['monthname'] = crimes_one['date_occurred'].dt.month_name()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [10]:
crimes_one[[ 'record_id', 
    'time_occurred', 
    'division', 
    'reporting_district', 
    'part_type',
    'crm_cd_1',
    'crm_cd_2',
    'crm_cd_3',
    'crm_cd_4',
    'crime_code', 
    'premises_code', 
    'weapon_code',
    'year',
    'quarter',
    'day',
    'month', ]] = crimes_one[[
    'record_id', 
    'time_occurred', 
    'division', 
    'reporting_district', 
    'part_type',
    'crm_cd_1',
    'crm_cd_2',
    'crm_cd_3',
    'crm_cd_4',
    'crime_code', 
    'premises_code', 
    'weapon_code',
    'year',
    'quarter',
    'day',
    'month',]].astype(str)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [11]:
descent_recode = { 'A':"asian",'B':"black",'C':"asian",'D':"asian",'F':"asian",'G':"asian",\
                 'H':"hispanic",'I':"ai_an",'J':"asian",\
                 'K':"asian",'L':"asian",'O':"other",'P':"asian",'S':"asian",\
                 'U':"asian",'V':"asian",'W':"white",'X':"other",'Z':"asian" }

In [12]:
crimes_one['descent_description'] = crimes_one['victim_descent'].map(descent_recode)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
victim_sex_recode = { 'F':"female",'M':"male",'X':"unknown",'-':"unknown",'N':"unknown",'H':"unknown" }

In [14]:
crimes_one['victim_sex'] = crimes_one['victim_sex'].map(victim_sex_recode)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
crimes_one['premises_code'] = crimes_one['premises_code'].str.replace('.0','', regex=False)
crimes_one['premises_code'] = crimes_one['premises_code'].str.replace('.0','', regex=False)
crimes_one['crm_cd_1'] = crimes_one['crm_cd_1'].str.replace('.0','', regex=False)
crimes_one['crm_cd_2'] = crimes_one['crm_cd_2'].str.replace('.0','', regex=False)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [16]:
crimes_one['premises_description'] = crimes_one['premises_description'].str.capitalize()
crimes_one['status_code_description'] = crimes_one['status_code_description'].str.lower().str.replace(' ','_')
crimes_one['crime_code_description'] = crimes_one['crime_code_description'].str.capitalize()
crimes_one['weapon_description'] = crimes_one['weapon_description'].str.capitalize()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [17]:
monthnames = ['January','February','March','April','May','June','July','August','September','October','November','December']

In [18]:
crimes_one['time_occurred'] = crimes_one['time_occurred'].str.replace('.0','', regex=False)
crimes_one['time_occurred'] = crimes_one['time_occurred'].str.zfill(4)
crimes_one['hour'] = crimes_one['time_occurred'].str[:2]
crimes_one['minute'] = crimes_one['time_occurred'].str[2:]
crimes_one = crimes_one[crimes_one['hour'] != '0n']
crimes_one = crimes_one[crimes_one['hour'] != '24']

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [19]:
homicides = crimes_one[crimes_one['crime_code_description'].str.contains('Criminal homicide', na=False)]

---

In [20]:
### How many

In [21]:
len(homicides)

2722

### Share of crimes_one by UCR type

In [22]:
crimes_one['part_type'].value_counts('normalize').round(3)*100

1    100.0
Name: part_type, dtype: float64

### Crime codes

In [23]:
codes = crimes_one.groupby(['part_type', 'crime_code', 'crime_code_description']).agg('size').reset_index()

In [24]:
codes.head()

  part_type crime_code   crime_code_description      0
0         1        110        Criminal homicide   2722
1         1        113  Manslaughter, negligent      5
2         1        121           Rape, forcible   9931
3         1        122          Rape, attempted   1082
4         1        210                  Robbery  81975

### Recode crime_codes to identify 'part one' violent/property crimes_one

In [25]:
part_one_violent = ['110','113','121','122','210','220','230','231',\
                    '235','236','250','251','761','815','820','821']

In [26]:
part_one_property = ['310','320','330','331','341','343','345','350',
                     '351','352','353','410','420','421','433','440','441',
                     '442','443','444','445','450','451','452','453','470','471'
                     ,'472','473','474','475','480','485','487','510','520','522']

In [27]:
categories = []

for row in crimes_one['crime_code']:
    if row in part_one_violent:
        categories.append('pt_one_violent')
    elif row in part_one_property:
        categories.append('pt_one_property')
    else:
        categories.append('other')
        
crimes_one['part_category'] = categories

In [28]:
crimes_one['part_category'].value_counts('normalize').round(4)*100

pt_one_property    78.77
pt_one_violent     20.93
other               0.30
Name: part_category, dtype: float64

---

## Now that it's clean, what can we learn from this data?

In [29]:
cases_grouped = crimes_one.groupby(['crime_code_description', 'part_type', 'victim_sex'])\
.agg('size').reset_index(name='total').sort_values(by='total', ascending=False)

In [30]:
cases_grouped.head()

,crime_code_description,part_type,victim_sex,total
26,Burglary from vehicle,1,male,87075
23,Burglary,1,male,81418
117,Theft plain - petty ($950 & under),1,male,76316
25,Burglary from vehicle,1,female,70473
7,"Assault with deadly weapon, aggravated assault",1,male,65377

### Cases involving suspects or victimes defined by LAPD as 'homeless'

In [31]:
mocrimes_one = crimes_one.dropna(subset=['modus_operandi_code'])

In [32]:
mocodes = pd.read_csv('mo_codes.csv')

### Isolating just cases involving homeless people

In [33]:
# MO Code 1218 is to be used when a victim is homeless
# MO Code 2004 is to be used when a suspect is homeless
mocodes_homeless = mocodes[mocodes['mo_code_description'].str.lower().str.contains('homeless')]
mocodes_homeless.head()

    mo_code            mo_code_description
361    1218  Victim was Homeless/Transient
521    2004  Suspect is homeless/transient

### Limit homeless crime data to recent years to account for coding issues

In [34]:
homeless_dates = ['2017', '2018', '2019']

### Various filters

In [35]:
crimes_one['homeless_victim'] = (crimes_one['modus_operandi_code']\
                            .str.contains('1218', na=False)) & (crimes_one['year'].isin(homeless_dates))

In [36]:
crimes_one['homeless_suspect'] = (crimes_one['modus_operandi_code']\
                                .str.contains('2004', na=False)) & (crimes_one['year'].isin(homeless_dates))

In [37]:
# My street
rubens = crimes_one[crimes_one['address'].str.contains('RUBENS', na=False)]
# crimes_one tagged by specific modus operandi code
bunco = crimes_one[crimes_one['modus_operandi_code'].str.contains('0800', na=False) ]

#Homeless people codes
homeless_victims = crimes_one[(crimes_one['modus_operandi_code'].str.contains('1218', na=False)) & (crimes_one['year'].isin(homeless_dates))]
homeless_suspects = crimes_one[(crimes_one['modus_operandi_code'].str.contains('2004', na=False)) & (crimes_one['year'].isin(homeless_dates))]
homeless_homicides = homeless_victims[(homeless_victims['crime_code_description']\
                    .str.contains('Criminal homicide', na=False))\
                    & (homeless_victims['year'].isin(homeless_dates))]

In [38]:
homeless_victims_women = homeless_victims[homeless_victims['victim_sex'] == 'female']

### How many cases do we have involving homeless people?

In [39]:
len(homeless_victims_women)

2755

In [40]:
len(homeless_victims)

7781

In [41]:
len(homeless_suspects)

12800

In [42]:
homeless_victims.columns

Index(['record_id', 'date_reported', 'date_occurred', 'time_occurred',
       'division', 'division_name', 'reporting_district', 'part_type',
       'crime_code', 'crime_code_description', 'modus_operandi_code',
       'victim_age', 'victim_sex', 'victim_descent', 'premises_code',
       'premises_description', 'weapon_code', 'weapon_description',
       'status_code', 'status_code_description', 'crm_cd_1', 'crm_cd_2',
       'crm_cd_3', 'crm_cd_4', 'address', 'cross_street', 'latitude',
       'longitide', 'year', 'quarter', 'day', 'month', 'weekday', 'monthname',
       'descent_description', 'hour', 'minute', 'part_category',
       'homeless_victim', 'homeless_suspect'],
      dtype='object')

---

## What's the arrest rate for specific crimes_one?

In [43]:
status = crimes_one.groupby(['status_code_description', 'homeless_victim',\
                         'crime_code', 'crime_code_description', 'year']).agg('size').reset_index(name='count')

### Pivot and count disposition of each crime

In [44]:
status_pivot = pd.pivot_table(status, values ='count', index =['crime_code_description'], 
                         columns = ['status_code_description'], \
                              aggfunc = np.sum, fill_value=0).reset_index()

In [59]:
status_pivot['arrests_tot'] = status_pivot['adult_arrest'] + status_pivot['juv_arrest']
status_pivot['crimes_tot'] = status_pivot.sum(axis=1)
status_pivot['arrest_rate'] = (( status_pivot['arrests_tot'] / status_pivot['crimes_tot'] )*100).round(2)

In [60]:
arrest_rate_all = status_pivot[['crime_code_description','arrest_rate']]

### Pivot and count disposition of each crime involving a homeless victim

In [89]:
status_homeless_victim = homeless_victims.groupby(['status_code_description', 'homeless_victim',\
                         'crime_code', 'crime_code_description', 'year']).agg('size').reset_index(name='count')

In [90]:
status_pivot_homeless = pd.pivot_table(status_homeless_victim, values ='count', index =['crime_code_description'], 
                         columns = ['status_code_description'], \
                              aggfunc = np.sum, fill_value=0).reset_index()

In [91]:
status_pivot_homeless['arrests_tot'] = status_pivot_homeless['adult_arrest'] + status_pivot_homeless['juv_arrest']
status_pivot_homeless['crimes_tot'] = status_pivot_homeless.sum(axis=1)
status_pivot_homeless['arrest_rate'] = \
    (( status_pivot_homeless['arrests_tot'] / status_pivot_homeless['crimes_tot'] )*100).round(2)

In [92]:
arrest_rate_homeless_victims = status_pivot_homeless[['crime_code_description','arrest_rate']]

In [93]:
status_pivot_homeless.head()

status_code_description,crime_code_description,adult_arrest,adult_other,invest_cont,juv_arrest,arrests_tot,crimes_tot,arrest_rate
0,Arson,2,0,20,0,2,24,8.33
1,Assault with deadly weapon on police officer,1,0,0,0,1,2,50.00
2,"Assault with deadly weapon, aggravated assault",421,489,1937,3,424,3274,12.95
3,Attempted robbery,23,16,137,0,23,199,11.56
4,Bike - stolen,1,4,83,0,1,89,1.12

In [106]:
arrest_rates = pd.merge(arrest_rate_homeless_victims, arrest_rate_all, how='left', \
                        on='crime_code_description', suffixes=('_homeless_victim', '_all_victims'))

In [107]:
arrest_rates.head(100)

status_code_description,crime_code_description,arrest_rate_homeless_victim,arrest_rate_all_victims
0,Arson,8.33,0.76
1,Assault with deadly weapon on police officer,50.00,8.37
2,"Assault with deadly weapon, aggravated assault",12.95,4.81
3,Attempted robbery,11.56,4.42
4,Bike - stolen,1.12,0.43
5,Boat - stolen,0.00,0.18
6,Brandish weapon,8.95,3.89
7,Burglary,1.79,1.85
8,Burglary from vehicle,6.82,0.61
9,"Burglary, attempted",50.00,1.86
10,Child abuse (physical) - aggravated assault,0.00,6.56
11,Criminal homicide,37.11,8.61
12,Intimate partner - aggravated assault,18.48,7.32
13,"Manslaughter, negligent",50.00,3.20
14,Oral copulation,4.88,3.35
15,Pickpocket,0.00,0.36
16,"Pickpocket, attempt",0.00,0.96
17,Purse snatching,0.00,0.83
18,"Rape, attempted",10.34,4.73
19,"Rape, forcible",3.08,2.53
20,Robbery,8.45,4.03
21,Sexual penetration w/foreign object,1.10,2.69
22,Shoplifting - petty theft ($950 & under),5.88,4.08
23,Shoplifting-grand theft ($950.01 & over),0.00,5.09
24,Shots fired at inhabited dwelling,0.00,1.15
25,"Shots fired at moving vehicle, train or aircraft",0.00,1.87
26,Sodomy/sexual contact b/w penis of one pers to...,5.80,2.75
27,Theft from motor vehicle - grand ($400 and over),0.00,0.44
28,Theft from motor vehicle - petty ($950 & under),0.00,0.31
29,Theft from person - attempt,0.00,2.98
30,Theft plain - attempt,0.00,1.59
31,Theft plain - petty ($950 & under),0.87,1.18
32,"Theft, person",2.54,1.74
33,"Theft-grand ($950.01 & over)excpt,guns,fowl,li...",1.05,1.28
34,Vehicle - attempt stolen,33.33,3.25

### Aggregated arrest rate for all crimes

In [108]:
arrests_total = crimes_one.groupby(['status_code_description', 'year']).agg('size').reset_index(name='count')

In [109]:
arrests_total_pivot = pd.pivot_table(arrests_total, values ='count', index =['year'], 
                         columns = ['status_code_description'], \
                              aggfunc = np.sum, fill_value=0).reset_index()

In [110]:
arrests_total_pivot['arrests_tot'] = arrests_total_pivot['adult_arrest'] \
    + arrests_total_pivot['juv_arrest']

arrests_total_pivot['crimes_tot'] = arrests_total_pivot.sum(axis=1)

arrests_total_pivot['arrest_rate'] = (( arrests_total_pivot['arrests_tot']\
                                       / arrests_total_pivot['crimes_tot'] )*100).round(2)

In [111]:
arrests_total_pivot.head(10)

status_code_description,year,adult_arrest,adult_other,invest_cont,juv_arrest,juv_other,unk,arrests_tot,crimes_tot,arrest_rate
0,2010,6786,4582,100837,446,70,1,7232,119954,6.03
1,2011,7262,5318,94327,572,64,2,7834,115379,6.79
2,2012,9197,5927,91538,870,101,0,10067,117700,8.55
3,2013,9255,5522,88033,959,135,4,10214,114122,8.95
4,2014,9798,6282,87021,974,134,6,10772,114987,9.37
5,2015,11126,7419,100003,1004,113,2,12130,131797,9.20
6,2016,11742,8019,107269,937,140,2,12679,140788,9.01
7,2017,12007,8058,111023,884,148,1,12891,145012,8.89
8,2018,11465,7950,110815,824,72,0,12289,143415,8.57
9,2019,7583,4525,82901,457,42,2,8040,103550,7.76

### Aggregated arrest rate for all crimes involving homeless victims

In [112]:
arrests_homeless_victims_total = \
homeless_victims.groupby(['status_code_description', 'year']).agg('size').reset_index(name='count')

In [113]:
arrests_total_homeless_victims_pivot = \
    pd.pivot_table(arrests_homeless_victims_total, values ='count', index =['year'], \
    columns = ['status_code_description'], \
    aggfunc = np.sum, fill_value=0).reset_index()

In [114]:
arrests_total_homeless_victims_pivot['arrests_tot'] = arrests_total_homeless_victims_pivot['adult_arrest'] \
    + arrests_total_homeless_victims_pivot['juv_arrest']

arrests_total_homeless_victims_pivot['crimes_tot'] = arrests_total_homeless_victims_pivot.sum(axis=1)

arrests_total_homeless_victims_pivot['arrest_rate'] = (( arrests_total_homeless_victims_pivot['arrests_tot']\
                                       / arrests_total_homeless_victims_pivot['crimes_tot'] )*100).round(2)

In [115]:
arrests_total_homeless_victims_pivot.head(10)

status_code_description,year,adult_arrest,adult_other,invest_cont,juv_arrest,arrests_tot,crimes_tot,arrest_rate
0,2017,177,287,1305,2,179,1950,9.18
1,2018,338,442,2204,4,342,3330,10.27
2,2019,308,350,2361,3,311,3333,9.33