# Processing U.S. Census data

In [1]:
import pandas as pd
import pyarrow
import geopandas as gpd
import geojson
import matplotlib
import matplotlib.pyplot as plt
import geojson
import json
import jenkspy
import numpy as np
from earthpy import clip as cl
from altair import datum
import altair as alt
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000

### Import DataDesk tool

In [2]:
# !censusdatadownloader population everything

### California counties

In [3]:
counties = pd.read_csv('input/processed/acs5_2018_population_counties.csv')

In [4]:
ca_counties = pd.DataFrame(counties[counties['name'].str.contains(', California')])

In [5]:
ca_counties['name'] = ca_counties['name'].str.replace(', California', '')

In [6]:
ca_counties.sort_values(by='universe', ascending=False).head(10)

,geoid,name,universe,universe_annotation,universe_moe,universe_moe_annotation,state,county
198,6037,Los Angeles County,10098052.0,NaN,-555555555.0,*****,6,37
216,6073,San Diego County,3302833.0,NaN,-555555555.0,*****,6,73
209,6059,Orange County,3164182.0,NaN,-555555555.0,*****,6,59
212,6065,Riverside County,2383286.0,NaN,-555555555.0,*****,6,65
215,6071,San Bernardino County,2135413.0,NaN,-555555555.0,*****,6,71
222,6085,Santa Clara County,1922200.0,NaN,-555555555.0,*****,6,85
181,6001,Alameda County,1643700.0,NaN,-555555555.0,*****,6,1
213,6067,Sacramento County,1510023.0,NaN,-555555555.0,*****,6,67
186,6013,Contra Costa County,1133247.0,NaN,-555555555.0,*****,6,13
189,6019,Fresno County,978130.0,NaN,-555555555.0,*****,6,19

---

### California cities

In [68]:
places = pd.read_csv('input/processed/acs5_2018_population_places.csv', dtype={ 'geoid':str,
                                                                              'state':str,
                                                                              'place':str})\
.drop(['universe_annotation', 'universe_moe', 'universe_moe_annotation'], axis=1).rename(columns={ 'universe':'population', 'name':'city' })

In [69]:
ca_cities = pd.DataFrame(places[places['geoid'].str.startswith('06')])

In [72]:
ca_cities['city'] = ca_cities['city'].str.replace(' city, California','')
ca_cities['city'] = ca_cities['city'].str.replace(' CDP, California','')

In [96]:
ca_cities[ca_cities['city'].str.contains('Pacoima')]

Empty DataFrame
Columns: [geoid, city, population, state, place]
Index: []

In [74]:
ca_cities.sort_values(by='population', ascending=False).head()

         geoid           city  population state  place
20022  0644000    Los Angeles   3959657.0    06  44000
18899  0666000      San Diego   1401932.0    06  66000
19803  0668000       San Jose   1026658.0    06  68000
19805  0667000  San Francisco    870044.0    06  67000
19104  0627000         Fresno    522277.0    06  27000

In [75]:
len(ca_cities)

1521

In [76]:
ca_cities.to_csv('/Users/mhustiles/data/github/coronavirus-tracker/_notebooks/data/raw/census/ca_cities.csv', index=False)

In [83]:
la_communities = gpd.read_file('/Users/mhustiles/data/data/GIS/LA/lac_cities_noislands.shp')

In [84]:
la_county_cities = la_communities[la_communities['CITY_TYPE'] == 'City']

In [85]:
la_communities = gpd.read_file('/Users/mhustiles/data/data/GIS/LA/LACITY_COMMUNITIES/LACITY_COMMUNITIES.shp')

In [86]:
la_communities['name'] = la_communities['COMTY_NAME'].str.title()

In [87]:
la_communities.columns = la_communities.columns.str.lower()

In [88]:
la_communities[[ 'name', 'geometry']].to_file('/Users/mhustiles/data/github/coronavirus-tracker/_notebooks/data/raw/la_communities.geojson')

ValueError: cannot index with vector containing NA / NaN values